.contentes{
	background:#ddd !important;
}
.contentes  > h2{
	border-bottom:none !important;
	color:#f00 !important;
	font-size:20px !important;
	font-weight:bold !important;
	margin:40px 0 !important;
	text-transform:uppercase !important;
	text-align:center;
}
.contentes  > .langman-error{
	font-size:18px;
	text-align:center;
	line-height:36px;
}
.contentes  > .langman-error > i{
	color:#00f;
}

/* Меню */
#langman-menu{
	text-align:center;
	margin:0;
	padding:0 0 10px 0;
	background:#678;
}
#langman-menu>li{
	display:inline-block;
	width:25%;
	margin:-9px 3%;
}
#langman-menu>li>a{
	text-decoration:none;
	border-bottom:2px dotted #abc;
	display:block;
	width:99%;
	padding:15px 0 5px;
	font-size:14px;
}
#langman-menu>li>a:hover{
	border-bottom:solid #abc 2px;
}
#langman-menu>li>a#langman-menu-active{
	background:#345;
	color:#fff;
	font-weight:bold;
	border:1px solid #000 ;
	border-top:none;
	padding-bottom:8px;
}

/* Фильтры */
.langman-filter-fs {
	margin:20px 0;
	text-align:center;
    background-color:#345;
    border:solid #000 1px;
	color:#eee;
}
.langman-filter-fs > form > select {
	min-width:225px !important;
	color:#345 !important;
	font-weight:bold !important;
}
.langman-filter-fs > form > select > option {
	/* font-weight:normal !important; */
	color:#345 !important;
}

.langman-content > h2 {
	background:#f1d99d !important;
    color: #f1d99d !important;
    padding: 3px !important;
	border-top: 2px dotted #123 !important;
	border-bottom: 2px dotted #123 !important;
    text-transform: uppercase !important;
	text-align:center !important;
	font-size:15px !important;
}
.langman-content > h2 > strong {
	background:#345 !important;
	display:block !important;
	padding:3px 0 !important;
	width:30% !important;
	margin-left:35% !important;
}

/* Таблица */
.langman-data {
	background:#fff;
	width:100%;
	border-collapse:collapse;
	text-align:center;
	color:#345;
	margin-bottom:30px;
}
.langman-data > caption {
	/* background:#345; */
	/* text-transform:uppercase; */
	height:30px;
}
.langman-data > caption > h3{
	background:#f1d99d;
	padding:3px 0;
	border:1px solid #345;
}
.langman-data > thead  > tr > th,
.langman-data > tfoot  > tr > th {
	height:50px;
	background:#345;
	color:#f1d99d;
	font-size:1.15em;
	border:none;
}
.langman-data > tbody > tr.tr-groups {
	height:25px;
	background:#678;
}
.langman-data > tbody  > tr.tr-groups td{
	color:#345;
	border:none;
}
.langman-data > tbody > tr.tr-vars > td.td-var{
	text-align:left;
	padding:5px 10px;
}
.langman-data > tbody > tr.tr-vars > td.td-var,
.langman-data > tbody > tr.tr-vars > td.td-checkbox{
	background:#345;
	color:#fff;
}
.langman-data > tbody > tr.tr-vars > td.td-var > p{
	font-weight:bold;
}
.langman-data > tbody > tr.tr-vars > td.td-translate{
	color:#234;
}
.langman-data > tbody > tr.tr-vars:hover > td.td-var,
.langman-data > tbody > tr.tr-vars:hover > td.td-checkbox{
	background:#456;
}
.langman-data > tbody > tr.tr-vars:hover > td.td-translate{
	background:#eee;
}
.langman-data th, .langman-data td {
	border:1px solid #abc;
}